// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'grid-item-1 grid-item-1'
    'grid-item-2 grid-item-3'
    'grid-item-4 grid-item-4';

  img {
    max-width: 80%;
    margin: auto;
  }
  //   @include breakpoint-down(small) {
  //     margin: 1rem;
  //   }
}

@include breakpoint-down(small) {
  .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 60%;
      margin: auto;
    }
  }
}

@for $i from 1 through 4 {
  .grid-item-#{$i} {
    grid-area: grid-item-#{$i};
  }
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
