.main {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    'header header'
    'sidebar container'
    'footer footer';
  grid-gap: 1rem;
  // .primary-navigation {
  //   display: none;

  @include breakpoint-down(small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    grid-area: header;
  }
  .footer {
    grid-area: footer;
  }
  .container {
    grid-area: container;
  }
  .sidebar {
    grid-area: sidebar;
  }
}
