.sidebar {
  background-color: $nav-color;
  height: 100%;
  overflow: scroll;
  /* So when we open all the submenu, if the sidebar is longer than the main, we can scroll */
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* This ">" to select direct children, so that when we click, just 1 level of children appear at once */
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: $text-color;
  text-decoration: none;
}
.sidebar-item.plain:hover {
  color: $text-color;
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

// MOBILE
.sidebar-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  display: none;
  border: none;
}
@include breakpoint-down(small) {
  .sidebar {
    height: 0;
  }
  .sidebar-links {
    background-color: $nav-color;
    padding-top: 50px;
    position: fixed;

    inset: 0 50% 0 0; //shorthand for top right bottom left
    // (When position is set to absolute or fixed, the top property specifies the distance
    // between the element's outer margin of top edge and the inner border of the top edge of its containing block.)

    transform: translateX(
      -110%
    ); // to make the menu hidden before clicking burger, it moves to the left by 110% of its own width
    transition: transform 350ms ease-out;
  }
  .show-sidebar {
    .sidebar-links {
      transform: translateX(50%);
    }

    .burger-bar::before {
      transform: rotate(45deg);
    }
    .burger-bar {
      background: transparent;
    }
    .burger-bar::after {
      transform: rotate(-45deg);
    }
  }

  //Tạo burger button
  .sidebar-burger {
    display: block;
    position: fixed;
    top: 0.25rem;
    left: 50%;
    transform: translateX(-20px);
    z-index: 100;
  }
  .sidebar-burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    background: black;
    position: relative;
    border-radius: 3px;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: '';
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
}
